<div class="footer-container pt-5 bg-light mt-5">
  <footer class="container">
    <h4>Inspiration for future getaways</h4>
    <h5 class="tab-heading pt-3">Unique stays</h5>
    <div class="tab-underline">
      <div class="tab-underline-black"></div>
      <div class="tab-underline-grey"></div>
    </div>

    <!-- Responsive: Stay sections -->
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 pb-5">
      <div class="col">
        <a href="#" style="text-decoration: none">
          <h5 class="pt-5 stay-title">Cabins</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Beach House</h5>
          <span class="stay-location">Australia</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Yurt Rentals</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Bungalow Rentals</h5>
          <span class="stay-location">United States</span>
        </a>
      </div>

      <div class="col">
        <a href="#" style="text-decoration: none">
          <h5 class="pt-5 stay-title">Treehouses</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Lakehouses</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Castle Rentals</h5>
          <span class="stay-location">Australia</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Private Island Rentals</h5>
          <span class="stay-location">United States</span>
        </a>
      </div>

      <div class="col">
        <a href="#" style="text-decoration: none">
          <h5 class="pt-5 stay-title">Tiny Houses</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Yurt Rentals</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Houseboats</h5>
          <span class="stay-location">Australia</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Holiday Caravans</h5>
          <span class="stay-location">United States</span>
        </a>
      </div>

      <div class="col">
        <a href="#" style="text-decoration: none">
          <h5 class="pt-5 stay-title">Tiny Houses</h5>
          <span class="stay-location">Australia</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Big House Rentals</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Farm Houses </h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Large Villas</h5>
          <span class="stay-location">United States</span>
        </a>
      </div>

      <div class="col">
        <a href="#" style="text-decoration: none">
          <h5 class="pt-5 stay-title">Beach Condos</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Coastal Cottages</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="#" style="text-decoration: none">
          <h5 class="pt-4 mt-2 stay-title">Cabin Rentals</h5>
          <span class="stay-location">United States</span>
        </a>

        <a href="show more" style="text-decoration: none" class="stay-more">
          <h5 class="pt-4 mt-2 stay-title">
            Show more
            <i
              class="fa-solid fa-chevron-down"
              style="vertical-align: middle"
            ></i>
          </h5>
        </a>
      </div>
    </div>

    <!-- Responsive: Footer links section -->
    <div class="row row-cols-1 row-cols-md-3 py-5 mt-3 border-bottom">
      <div class="col footer-link">
        <h6 class="footer-title pb-2">Support</h6>
        <a href="help-centre">Help Centre</a><br />
        <a href="aircover">AirCover</a><br />
        <a href="anti-discrimination">Anti-discrimination</a><br />
        <a href="disability-support">Disability support</a><br />
        <a href="cancellation-options">Cancellation options</a><br />
        <a href="report-neighbourhood-concern">Report neighbourhood concern</a>
      </div>

      <div class="col footer-link">
        <h6 class="footer-title pb-2">Hosting</h6>
        <a href="airbnb-your-home">Airbnb your home</a><br />
        <a href="airbnb-your-experience">Airbnb your experience</a><br />
        <a href="airbnb-your-service">Airbnb your service</a><br />
        <a href="aircover-for-hosts">AirCover for Hosts</a><br />
        <a href="hosting-resources">Hosting resources</a><br />
        <a href="community-forum">Community forum</a><br />
        <a href="hosting-responsibly">Hosting responsibly</a><br />
        <a href="join-a-free-hosting-class">Join a free Hosting class</a><br />
        <a href="find-a-co-host">Find a co‑host</a>
      </div>

      <div class="col footer-link">
        <h6 class="footer-title pb-2">Airbnb</h6>
        <a href="2025-summer-release">2025 Summer Release</a><br />
        <a href="newsroom">Newsroom</a><br />
        <a href="careers">Careers</a><br />
        <a href="investors">Investors</a><br />
        <a href="airbnb-org-emergency-stays">Airbnb.org emergency stays</a>
      </div>
    </div>

    <!-- Responsive: Footer bottom section -->
    <div
      class="row py-4 align-items-center footer-end flex-column flex-md-row text-center text-md-start"
    >
      <div class="col-md-7 mb-3 mb-md-0">
        <span class="pe-2">&copy;2025 Airbnb, Inc.</span>&middot;
        <a href="Privacy" class="px-2">Privacy</a>&middot;
        <a href="Terms" class="px-2">Terms</a>&middot;
        <a href="Sitemap" class="px-2">Sitemap</a>&middot;
        <a href="Company details" class="px-2">Company details</a>
      </div>
      <div
        class="col-md-5 d-flex justify-content-center justify-content-md-end align-items-center flex-wrap gap-2"
      >
        <a href="language"><i class="fa-solid fa-globe me-1"></i>English(IN)</a>
        <a href="rupee" class="ms-3">
          <i class="fa-solid fa-indian-rupee-sign"></i> INR
        </a>
        <a href="facebook"><i class="fa-brands fa-facebook-f mx-3 mt-1"></i></a>
        <a href="twitter"><i class="fa-brands fa-x-twitter me-3 mt-1"></i></a>
        <a href="instagram"><i class="fa-brands fa-instagram mt-1"></i></a>
      </div>
    </div>
  </footer>
</div>
