<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
  <div class="alert alert-danger col-5 mx-auto" role="alert">
    <h4 class="alert-heading">Oops! Something went wrong.</h4>
    <p class="alert-heading"><%= message %></p>
  </div>
</div>