body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

/* Navbar */
.navbar {
  height: 69px;
}
.background-colour-navbar {
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222;
}

/* Navbar Search */
.search-btn {
  background-color: #fe424d !important;
  color: #fff !important;
  border-radius: 25px !important;
  padding: 0 1rem 0 1rem !important;
}

.search-btn:hover {
  background-color: #f2555f !important;
  color: #fff !important;
}

.search-btn i {
  display: inline !important;
  margin-right: 0.5rem !important;
}

/* .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  } */

/* Footer */
.tab-heading {
  font-size: 1rem;
  margin-bottom: 16px;
}

.tab-underline {
  display: flex;
  align-items: center;
  width: 100%;
}

.tab-underline-black {
  width: 100px; /* adjust this to match black underline length */
  height: 0.1rem;
  background-color: #222;
}

.tab-underline-grey {
  flex: 1;
  height: 1px;
  background-color: #ddd;
}

.stay-title {
  display: block;
  line-height: 0;
  font-size: 1rem;
  color: black !important;
}

.stay-location {
  color: black !important;
}

.stay-more :hover {
  text-decoration: underline;
}

.footer-link a {
  color: black !important;
  text-decoration: none;
  line-height: 2;
}

.footer-link a:hover {
  text-decoration: underline;
}

.footer-end a {
  text-decoration: none;
  color: black !important;
}

.footer-end a:hover {
  text-decoration: underline;
  color: black !important;
}

/* Card */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  color: white !important;
}

/* Edit Page */
.edit-edit-btn {
  background-color: #fe424d !important;
  color: white !important;
}

/* All btn */
.btn-edit:hover {
  background-color: #ff5a99 !important;
}

/* Show Page */
.show-edit-btn {
  background-color: #fe424d !important;
  color: white !important;
  padding: 7px 26px 5px 26px !important;
  margin-right: 30px;
}

/* Map */
#map {
  width: 92vh;
  height: 350px;
}

/* Small Icons in All Listings */

.filter {
  opacity: 0.8;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}

.tax-info {
  display: none;
  /* display none
  visivility hidden */
}
